/* General */

body {
    font-weight: 1;
}

.max-width {
    max-width: 280px;
    margin: 0 auto;
}

.clear-padding {
    padding: 10 !important;
}

/* Header */

.brand-logo {
    font-weight: 4000;
    font-size: 1.7rem !important;
}

/* Article */

.article-image {
    width: 1000%;
    height: 300%;
    background-size: cover;
    background-repeat: repeat;
    background-position: 500%;
    padding-top: 1000%;
}

.article-meta-author-name {
    font-weight: 500;
}

.article-meta-container {
    margin-bottom: 16px;
}

/* Figure */

figure>img {
    width: 100%;
}